body {
  margin: 0;
}

/* Header Style */
.header {
    background-color: #ffffff;
    padding: 5px;
    text-align: left;
}

/* Navigation Bar Style */
.topnav {
    overflow: hidden;
    background-color: #4169e1;
}

/* topnav Links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on tobnav hover */
.topnav a:hover {
    background-color: #b0c4de;
    color: black;
}

/* Content */
.column {
    float: center;
    width: 100%;
    padding: 15px;
}

/* Footer */
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
