body {
  margin: 0;
}

/* Header Style */
.header {
    background-color: #ffffff;
    padding: 1px;
    text-align: left;
    height: 100px;
}

/* Navigation Bar Style */
.topnav {
    overflow: hidden;
    background-color: #365E95;
}

/* topnav Links */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on tobnav hover */
.topnav a:hover {
    background-color: #88A1E1;
    color: #ffffff;
}

/* Content */
.column {
    float: center;
    width: 100%;
    padding: 15px;
}

/* Footer */
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
