body {
  margin: 0;
}

/* Header Style */
.header {
    background-color: #ffffff;
    padding: 1px;
    text-align: left;
    text-indent: 15px;
    height: 100px;
}

/* Navigation Bar Style */
.topnav {
    overflow: hidden;
    background-color: #365E95;
}

/* topnav Links */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on tobnav hover */
.topnav a:hover {
    background-color: #88A1E1;
    color: #ffffff;
}

/*Navbar with dropdown*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #365E95;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #365E95;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #88A1E1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #88A1E1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Content */
.column {
    float: center;
    width: 100%;
    padding: 15px;
}

/* Footer */
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
